body {
    font-size: 2rem;
    
}
header,nav,footer, .container aside {
    border: 2px solid green;
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.container{
    display: flex;
    flex-direction: row;
}

.container aside {
 
    width: 100%;
    height: 60vh;
   

}


