body > * {
   
    border: 1px solid green;  
    margin: 10px;
    text-align: center;
    font-size: 2rem;
}

header {
    padding: 20px;
    height: 5vh;  
    text-align: center;
}

nav {
    padding: 20px;
    height: 5vh;  


}
main {
    padding: 5px;
    height: 80vh;
   
}

aside {
    float:left;
    width: 49.5%;
    height: 80vh;
    border: 1px solid green;
    text-align: center;
    line-height: 500px;
  
}

section {   
    float:right;
    width: 50%;
    height: 80vh;
    border: 1px solid green;
    text-align: center;
    line-height: 500px;
    
   
}
footer {
    padding: 20px;
    height: 5vh;  
   
  
}




