body > * {
    font-size: 2rem;
}

header, nav, footer, .container aside,section {
    display: flex;
    border: 2px solid green;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

header,nav, footer {
    height: 10vh;
}

.container {
    display: flex;
    flex-direction: row;
}

.container aside,
section {
    flex-grow: 1;
    height: 60vh;
}

.container aside:nth-child(2),
section {
    flex-grow: 2;
}
