header, nav, footer, .container div{
    height: 10vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    border: 2px solid green;

    margin: 5px;

}
.container{
    display: flex;
    flex-direction: row;
}
.container div{
    width: 100%;
    height: 65vh;
}



  




